<mat-toolbar class="user-toolbar">
  <button
    mat-stroked-button
    color="accent"
    class="user-toolbar__add"
    (click)="openModal()"
  >
    Add user
    <mat-icon iconPositionEnd class="user-toolbar__icon">person_add</mat-icon>
  </button>

  <button
    mat-stroked-button
    color="warn"
    class="user-toolbar__delete"
    (click)="onDeleteSelected()"
  >
    Delete selected
    <mat-icon iconPositionEnd class="user-toolbar__icon">delete</mat-icon>
  </button>

  <mat-checkbox
    class="user-toolbar__checkbox"
    color="primary"
    [(ngModel)]="isAllSelected"
    (click)="onSelectAll()"
    >Select all</mat-checkbox
  >

  <mat-form-field class="user-toolbar__search" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
  </mat-form-field>

  <mat-form-field class="user-toolbar__sort" appearance="outline">
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="sortOrder" (selectionChange)="onSort()">
      <mat-option value="asc">Ascending</mat-option>
      <mat-option value="desc">Descending</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
